.posts {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-author {
    padding: 5px;
    background-color: #EEEEEE;
}

.post-body {
    padding-top: 10px;
}

.post-links {
    padding-top: 10px;
}

.post-buttons {
    padding-top: 10px;
}

.shadow {
    -moz-box-shadow:    0px 0px 0px 3px #ccc;
    -webkit-box-shadow: 0px 0px 0px 3px #ccc;
    box-shadow:         0px 0px 0px 3px #ccc;
}
